@model IList<Table>
@{
	ViewData["Title"] = "Hantera bord";
}
<div class="text-center bg-gradient text-contrast rounded-3 border border-4 border-gold w-75 mb-4 mx-auto p-4">
<h1 class="text-center">Bord</h1>
</div>
<div class="d-flex justify-content-start mb-3 ms-3">
	<a href="/admin" class="btn btn-primary">
		Tillbaka
	</a>
</div>

@if (Model.Any())
{
	<div class="text-center">
		@foreach (var table in Model)
		{
			<div class="text-center bg-gradient text-contrast rounded-3 border border-4 border-gold w-50 mb-4 mx-auto p-4">
				<h4>Bordsnummer: @table.Id</h4>
				<p>Kapacitet: @table.Capacity</p>
				<div class="d-flex justify-content-center gap-2">
					<form asp-controller="admin" asp-action="EditTable" method="post">
						<input type="hidden" name="Id" value="@table.Id" />
						<input type="number" name="Capacity" class="form-control mb-2" value="@table.Capacity">
						<button type="submit" class="btn btn-warning">Ändra kapacitet</button>
					</form>
					<form asp-action="DeleteTable" method="post" style="margin:0;">
						<input type="hidden" name="id" value="@table.Id" />
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
					</form>
				</div>
			</div>
		}
	</div>
}
else
{
	<h3 class="text-center">Bord kunde inte laddas</h3>
}

<div class="text-center bg-gradient text-contrast rounded-3 w-10 mx-auto p-4">
	<p>Skapa nytt bord</p>
	<form asp-controller="admin" asp-action="CreateTable" method="post">
	<label class="form-label">Kapacitet</label>
	<input type="number" name="Capacity" class="form-control mb-2" value="Table.Capacity"/>
	<button type="submit" class="btn btn-primary">Skapa</button>
	</form>
</div>